tensorflow==2.5.2
tensorflow-serving-api==2.0.0
numpy==1.17.4
pandas==0.25.3
matplotlib==3.1.2
baybars==0.0.26
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
requests==2.22.0
requests-toolbelt==0.9.1
Pillow==9.0.0
